<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0a5c_216f</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.no-one.BrcmPatchRAM2</string>
		<key>DisplayName</key>
		<string>DW1560 Bluetooth 4.0 LE</string>
		<key>FirmwareKey</key>
		<string>0a5c_216f_v5668</string>
		<key>IOClass</key>
		<string>BrcmPatchRAM2</string>
		<key>IOMatchCategory</key>
		<string>BrcmPatchRAM2</string>
		<key>IOProbeScore</key>
		<integer>2000</integer>
		<key>IOProviderClass</key>
		<string>IOUSBHostDevice</string>
		<key>idProduct</key>
		<integer>8559</integer>
		<key>idVendor</key>
		<integer>2652</integer>
	</dict>
</dict>
</plist>
